In [2]:
'''
Nathaniel Yee
Date: May 22nd 2023
Filename: seaborn demo.ipynb
Description
'''

'\nNathaniel Yee\nDate: May 22nd 2023\nFilename: seaborn demo.ipynb\nDescription\n'

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# built in datasets
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
iris = sns.load_dataset('iris')
type(iris)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
len(iris)

150

In [7]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
sns.pairplot(iris, hue='species')

In [ ]:
geyser = sns.load_dataset('geyser')
geyser

In [ ]:
sns.jointplot(x='waiting', y='duration', data=geyser, hue='kind')

In [ ]:
plt.figure(figsize=(5,5))
plt.grid()
sns.regplot(x='waiting', y='duration', data=geyser)

In [ ]:
titanic = sns.load_dataset('titanic')
print(titanic)

In [ ]:
ages = titanic.age
print(ages)
type(ages)

# Age Distribution
sns.displot(ages)

In [ ]:
# distributions broken down by category

#sns.boxplot(data=titanic,x='pclass',y='age')
plt.figaspect((8,8))
sns.swarmplot(data=titanic,x='pclass',y='age')
sns.violinplot(data=titanic, x='pclass',y='age')

In [ ]:
titanic

In [ ]:
pt = titanic.pivot_table('survived', index='sex', columns='class', aggfunc='mean')
type(pt)
pt

In [ ]:
sns.heatmap(pt, cmap = 'RdYlGn')